#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.device.rc
import /vendor/etc/init/hw/init.mainline.usb.rc

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
