import /vendor/etc/init/hw/init.device.rc
import /vendor/etc/init/hw/init.mainline.usb.rc

service vendor.log_to_cache /system/bin/logcat -f /cache/logs/log.txt
    user system
    group system log
    disabled

on post-fs
    mkdir /cache/logs 0775 system log
    start vendor.log_to_cache

on early-boot
    mount debugfs debugfs /sys/kernel/debug
    chmod 755 /sys/kernel/debug
    chmod 755 /sys/kernel/debug/sync
    chown graphics graphics /sys/kernel/debug/sync/sw_sync
    chmod 777 /sys/kernel/debug/sync/sw_sync
    chown graphics graphics /sys/kernel/debug/sync/info

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

on property:sys.boot_completed=1
    chmod 0755 /sys/kernel/debug/tracing
